[tools_calibrate]
pin: ^PD11        #对刀器引脚
travel_speed: 15  # 探测速度
spread: 4.5         # 探测范围
lower_z: 0.2      # 下压距离
speed: 2          # 每次探测触发之间的回撤速度 (mm/s)
lift_speed: 4     # 探测完成后的 Z 轴抬升速度。注意：其配置的抬升高度必须大于各个工具头之间的 Z 轴物理高度差
final_lift_z: 1   # 最终完成探测后的 Z 轴安全抬升高度
sample_retract_dist: 2  # 每次探测后回撤的距离 (mm)
samples_tolerance: 0.1 # 多次探测结果的容差范围，超出则重试或报错
samples: 5              # 探测采样次数
samples_result: median  # 采样结果的计算方式：median（取中位数）或 average（取平均值）

[gcode_macro _TOOL_CALIB_VARS]
variable_sensor_x: 112.5      # 校准传感器的中心X坐标
variable_sensor_y: -4      # 校准传感器的中心Y坐标
variable_safe_x: 112         # 换刀/待机的安全区域X
variable_safe_y: 10.0         # 换刀/待机的安全区域Y
variable_safe_z: 10.0         # 换刀/待机的安全区域Z高度
variable_tool_count: 4       # 工具总数 (例如0, 1，共2个)
gcode:
    # 此处无需指令，仅用于存储变量
# ---------------------------------------------------------
# 校准单个工具
# 调用示例: CALIBRATE_TOOL TOOL=1
# ---------------------------------------------------------
[gcode_macro CALIBRATE_TOOL]
gcode:
    {% set tool = params.TOOL|default(0)|int %}
    {% set vars = printer["gcode_macro _TOOL_CALIB_VARS"] %}
    
    G1 X{vars.safe_x} Y{vars.safe_y} Z{vars.safe_z} F9000
    T{tool}
    G1 X{vars.safe_x} Y{vars.safe_y} Z{vars.safe_z} F9000
    G1 X{vars.sensor_x} Y{vars.sensor_y} F9000
    
    {% if tool == 0 %}
        {action_respond_info("正在校准 T0 基准点...")}
        TOOL_LOCATE_SENSOR
        M400                  # 【关键】等待探测动作彻底走完
        G4 P500               # 【关键】停顿 0.5 秒，让系统处理坐标重置
        _DO_SAVE_CALIB_RESULT TOOL=0
    {% else %}
        {action_respond_info("正在校准 T" ~ tool ~ " 的偏移量...")}
        TOOL_CALIBRATE_TOOL_OFFSET
        M400                  # 【关键】等待动作走完
        _DO_SAVE_CALIB_RESULT TOOL={tool}
    {% endif %}

    M400
    G90
    G1 Z{vars.safe_z} F600    # 探测完后先单提 Z 轴
    G1 X{vars.safe_x} Y{vars.safe_y} F9000
    UNTOOL

[gcode_macro _DO_SAVE_CALIB_RESULT]
gcode:
    {% set tool = params.TOOL|int %}
    {% set res = printer.tools_calibrate.last_result %}
    
    {% if tool == 0 %}
        # T0 永远存 0
        SAVE_VARIABLE VARIABLE=t0_offset_x VALUE=0.0
        SAVE_VARIABLE VARIABLE=t0_offset_y VALUE=0.0
        SAVE_VARIABLE VARIABLE=t0_offset_z VALUE=0.0
        {action_respond_info("✅ T0 基准点坐标已锁定")}
    {% else %}
        # 其他工具存探测结果
        SAVE_VARIABLE VARIABLE=t{tool}_offset_x VALUE={res[0]|round(6)}
        SAVE_VARIABLE VARIABLE=t{tool}_offset_y VALUE={res[1]|round(6)}
        SAVE_VARIABLE VARIABLE=t{tool}_offset_z VALUE={res[2]|round(6)}
        {action_respond_info("✅ T" ~ tool ~ " 偏移量已自动保存")}
    {% endif %}
# ---------------------------------------------------------
# 批量校准所有工具
# ---------------------------------------------------------
[gcode_macro CALIBRATE_ALL_TOOLS]
gcode:
    {% set vars = printer["gcode_macro _TOOL_CALIB_VARS"] %}
    
    {action_respond_info("开始全自动工具校准流程...")}
    
    # 遍历所有工具 (range(0, N) 生成 0 到 N-1)
    {% for t in range(0, vars.tool_count) %}
        CALIBRATE_TOOL TOOL={t}
    {% endfor %}
    
    {action_respond_info("所有工具校准完毕")}
